.bigheader{
	height: 20px;
	background: #0080FF;	
}

.bigbutton{
	font-size: 50px;
	color: white;
	background: #0d77b6;
	padding: 10%;
	text-align: center;
}
.minibox{
	height: 10px;
	text-align: center;
	background: transparent;

}

.noborder{
	border: 0px;
}

.bigfont{
	font-size: 30px;
}

.maxwidth{
	width: 0%;
}

.login-margin{
	margin: 3%;
}
